.skills-container {
    display: flex;
    margin-top: 2em;
    justify-content: space-around;
    padding: 3em;
    background-color: white;
  }
  
  .skills-group {
    width: 32%;
  }
  
  .skills-category-title {
    font-size: 1.3em;
    color: #004150;
    margin-bottom: 1.2em;
    text-align: left;
    padding-bottom: 1em;
  }
  
  .skill-item {
    margin-bottom: 1em;
  }
  
  .skill-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1em;
  }
  
  .skill-name {
    font-size: 1.1em;
    color: #004150;
  }
  
  .skill-level {
    font-size: 0.8em;
    color: #e0e0e0;
  }
  
  .skill-bar {
    height: 10px; 
    border-radius: 10px;
    border: 2px solid #e0e0e0; 
    background-color: white !important; 
    padding: 2px; 
    box-sizing: border-box; 
}
  
.skill-bar .MuiLinearProgress-bar {
    background-color: #dd5f61;
    border-radius: 8px; 
}
  