.nav-links {
  display: flex;
  justify-content: flex-end;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1em;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #004150;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #dd5f61;
  text-decoration: underline;
  text-decoration-thickness: 1.6px;
  text-decoration-color: #dd5f61;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 2.5em;
    color: #004150;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .nav-links a {
    margin: 5px 0;
  }
}
