.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    border-top: 3px solid #dd5f61;
    box-sizing: border-box;
    margin-bottom: -3.5em;
}

.footer-title {
    font-size: 2em;
    color: #004150;
    margin-bottom: 0.5em;
}

.footer-subtitle {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 2em;
    text-align: center;
    max-width: 600px;
}

.social-icons {
    display: flex;
    gap: 4em;
    margin-top: 1em;
}

.social-icon {
    font-size: 2em;
    color: #004150;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #dd5f61;
}
