.timeline-content {
  text-align: left !important;
}

.timeline-title {
  font-size: 1.8em !important;
  color: #dd5f61;
  margin: 0 0 10px 0;
}

.timeline-subtitle {
  font-size: 1em !important;
  color: #555;
  margin: 5px 0 10px 0;
  font-family: 'Space Grotesk', sans-serif !important;
}

.timeline-content ul {
  list-style-type: square;
  margin: 10px 0 0 20px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: medium;
  padding-bottom: 3em;
}

.timeline-content li {
  font-size: 1.2em;
  color: black;
  margin: 5px 0;
}

.timeline-content li::marker {
  color: #dd5f61;
}

.timeline-dot {
  background-color: #dd5f61 !important;
}
