.experience-container {
  padding: 3em;
}

.timeline-content {
  border-radius: 30px;
  box-shadow: 0 0.9px #dd5f61;
  text-align: left !important;
}

.timeline-title {
  font-size: 1.5em;
  color: #dd5f61;
  margin: 0 0 10px 0;
}

.timeline-subtitle {
  font-size: 1em;
  color: #555;
  margin: 5px 0 10px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeline-content ul {
  list-style-type: square;
  margin: 10px 0 0 20px;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}

.timeline-content li {
  font-size: 1.2em;
  color: black;
  margin: 5px 0;
}

.timeline-content li::marker {
  color: #dd5f61;
}

.timeline-dot {
  background-color: #dd5f61 !important;
}
