.about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.section-title {
    font-size: 2em;
    color: #004150;
    margin-bottom: 1em;
    text-align: center;
    border-bottom: 2px solid #dd5f61;
    padding-bottom: 0.3em;
    width: 100%;
    max-width: 800px;
}

.personal-and-photo {
    display: flex;
    align-items: center;
    gap: 5em; /* Reduced gap for better alignment */
    justify-content: center; /* Center the content */
    margin-bottom: 2em;
}

.personal-details {
    text-align: left;
}

.details-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

.details-list li {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.social-icon {
    font-size: 2em;
    color: #004150;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #dd5f61;
}

.profile-photo {
    width: 9em;
    height: 12em;
    border-radius: 40%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-life {
    max-width: 800px;
    text-align: left;
    margin-top: 2em;
    border-radius: 8px;
}

.about-text {
    font-size: 1.2em;
    line-height: 1.8em; /* Increased line height for better readability */
    margin-bottom: 1.5em;
    color: #333;
}

.about-text span.highlight {
    color: #dd5f61;
    font-weight: bold;
}

.about-text em {
    color: #004150;
    font-style: normal;
    font-weight: bold;
}
